<html>


  <head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/images/icons/style.css">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/main.css">

    <style>
       
    </style>
   
 

</head>
<body class="azulado">

    <%- include('../modules/_alert'); %>



<div class="posi-formulario_usernew" id="addUser" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content tonoGris boxShadow ">
            <div class="modal-header">
                <h5 class="modal-title t-primary userForm-title">
                    Add New User
                </h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="userForm" action="/createUserPost" method="post">
                    <div class="form-group">
                        <label for="name">
                            Name</label>
                        <input type="text" class="form-control userForm-name" name="name"
                            placeholder="John Doe" required minlength="5"/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email
                            Address</label>
                        <input type="email" class="form-control userForm-email" name="email"
                            placeholder="johndoe@gmail.com" required />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control"
                            name="password" placeholder="***********"
                            required minlength="6"/>
                    </div>

                    <div class="form-group">
                        <label for="role">User Role</label>
                        <select class="form-control userForm-role" name="role" required>
                            <option value="">Select Current User Role</option>
                            <option value="admin">Admin
                            </option>
                            <option value="sales">Sales Manager
                            </option>
                            <option value="inventory">Inventory Manager
                            </option>
                            <option value="expense">Expense Manager
                            </option>
                            <option value="servicing">Servicing Manager
                            </option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">
                            <i class="ic-cross"></i><a href="/" class="text-decoration-none"> Close </a>
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="ic-check"></i> Save
                            Changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 

</body>
</html>